In [54]:
import numpy as np

In [55]:
import pandas as pd

s = pd.Series([10, 20, 30])

In [56]:
s

0    10
1    20
2    30
dtype: int64

In [10]:
s=pd.Series([10,20,30],index=['yash','arjun','nikhil'])

In [11]:
s

yash      10
arjun     20
nikhil    30
dtype: int64

In [12]:
d={'a':1,'b':2,'c':3}

In [13]:
s=pd.Series(d)

In [14]:
s

a    1
b    2
c    3
dtype: int64

In [15]:
x=[1,2,3,4]
y=['Yash','Nikhil','Chaman','Divs']

In [18]:
z=pd.Series(data=x,index=y)

In [19]:
z

Yash      1
Nikhil    2
Chaman    3
Divs      4
dtype: int64

starting of PANDAS

In [20]:
from numpy.random import randn

In [23]:
np.random.seed(101)

In [25]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [26]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [27]:
df.shape

(5, 4)

In [28]:
df.sum(axis=0)

W    1.719289
X    2.268822
Y    2.261436
Z    2.159356
dtype: float64

In [44]:
df.sum(axis=1)

A    4.746778
B    0.089688
C   -1.338233
D   -0.548357
E    5.459028
dtype: float64

In [47]:
data={'Name':['Yash','Subhrata','Aanya'],'Age':[30,31,28]}
ydf=pd.DataFrame(data)

In [48]:
ydf

       Name  Age
0      Yash   30
1  Subhrata   31
2     Aanya   28

In [49]:

jdf = pd.DataFrame(np.arange(1,10).reshape(3,3),
                  index=['A','B','C'],
                  columns=['X','Y','Z'])

In [50]:
jdf

   X  Y  Z
A  1  2  3
B  4  5  6
C  7  8  9

In [51]:
jdf.sum(axis=0)

X    12
Y    15
Z    18
dtype: int64

In [52]:
jdf.sum(axis=1)

A     6
B    15
C    24
dtype: int64

In [53]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509