In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:


df = pd.read_csv("SuperStoreOrders.csv")
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,5/1/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  object
 2   ship_date       51290 non-null  object
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  object
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: float64(3), int64(2), object(16)
memory usage: 8.2+ MB

In [5]:
df['sales'] = df['sales'].str.replace(',', '').astype(float)

In [8]:
df['order_date'] = pd.to_datetime(df['order_date'], dayfirst=True, errors='coerce')
df['ship_date']  = pd.to_datetime(df['ship_date'],  dayfirst=True, errors='coerce')

In [9]:
df['shipping_days'] = (df['ship_date'] - df['order_date']).dt.days
df[['order_date', 'ship_date', 'shipping_days']].head()

  order_date  ship_date  shipping_days
0 2011-01-01 2011-01-06            5.0
1 2011-01-01 2011-01-08            7.0
2 2011-01-01 2011-01-05            4.0
3 2011-01-01 2011-01-05            4.0
4 2011-01-01 2011-01-08            7.0

In [10]:
df.shape

(51290, 22)

In [11]:
df.describe()

,order_date,ship_date,sales,quantity,discount,profit,shipping_cost,year,shipping_days
count,20067,19834,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,13297.000000
mean,2013-05-02 23:06:58.179099904,2013-05-10 01:01:29.664212992,246.498440,3.476545,0.142908,28.641740,26.375915,2012.777208,3.575393
min,2011-01-01 00:00:00,2011-01-03 00:00:00,0.000000,1.000000,0.000000,-6599.978000,0.000000,2011.000000,0.000000
25%,2012-06-08 00:00:00,2012-06-11 00:00:00,31.000000,2.000000,0.000000,0.000000,2.610000,2012.000000,2.000000
50%,2013-07-02 00:00:00,2013-07-04 00:00:00,85.000000,3.000000,0.000000,9.240000,7.790000,2013.000000,4.000000
75%,2014-05-11 00:00:00,2014-06-01 00:00:00,251.000000,5.000000,0.200000,36.810000,24.450000,2014.000000,5.000000
max,2014-12-12 00:00:00,2015-01-07 00:00:00,22638.000000,14.000000,0.850000,8399.976000,933.570000,2014.000000,7.000000
std,NaN,NaN,487.567175,2.278766,0.212280,174.424113,57.296804,1.098931,1.749692

In [18]:

#df['profit'].sum()
#df['discount'].mean()
df['shipping_days'].mean()

np.float64(3.575392945777243)

In [19]:
region_sales = df.groupby('region')['sales'].sum().sort_values(ascending=False)
region_sales

region
Central           2822399.0
South             1600960.0
North             1248192.0
Oceania           1100207.0
Southeast Asia     884438.0
North Asia         848349.0
EMEA               806184.0
Africa             783776.0
Central Asia       752839.0
West               725514.0
East               678834.0
Caribbean          324281.0
Canada              66932.0
Name: sales, dtype: float64

In [20]:
category_profit = df.groupby('category')['profit'].sum().sort_values(ascending=False)
category_profit

category
Technology         663778.73318
Office Supplies    518473.83430
Furniture          286782.25380
Name: profit, dtype: float64

In [21]:
subcat_profit = df.groupby('sub_category')['profit'].sum().sort_values(ascending=False)
subcat_profit

sub_category
Copiers        258567.54818
Phones         216717.00580
Bookcases      161924.41950
Chairs         141973.79750
Appliances     141680.58940
Accessories    129626.30620
Storage        108461.48980
Binders         72449.84600
Paper           59207.68270
Machines        58867.87300
Art             57953.91090
Furnishings     46967.42550
Envelopes       29601.11630
Supplies        22583.26310
Labels          15010.51200
Fasteners       11525.42410
Tables         -64083.38870
Name: profit, dtype: float64

In [22]:
region_profit = df.groupby('region')['profit'].sum().sort_values(ascending=False)
region_profit

region
Central           311403.98164
North             194597.95252
North Asia        165578.42100
South             140355.76618
Central Asia      132480.18700
Oceania           121666.64200
West              108418.44890
East               91522.78000
Africa             88871.63100
EMEA               43897.97100
Caribbean          34571.32104
Southeast Asia     17852.32900
Canada             17817.39000
Name: profit, dtype: float64